body{
    background: url("images/background.jpg") center center fixed;
    background-size: cover;

}
#header{
    text-align: center;
   color: khaki;
    font-size: 7vw;
}
#lap{
    text-align: right;
    font-size: 4vw;
color: khaki;
}
#main{
    text-align: center;
    font-size: 8vw;
color: khaki;
}